.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  min-height: 100vh;
}

.navbar {
  border-bottom: 5px solid #000 !important;
}

.card-header {
  background: none;
  border: 0;
  position: absolute;
  width: 100%;
}

img { image-rendering: pixelated; }

.nes-progress {
  height: 20px;
}