.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.bg-dark {
  background-color: rgba(45,45,45,0.875) !important;
}

.card-header {
  background: none;
  border: 0;
  position: absolute;
  width: 100%;
}