.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  min-height: 100vh;
}

body {
  font-size: 12px !important;
}

nav {
  border-bottom: 5px solid #000 !important;
  background: #212529;
}

nav a { transition: 0.3s ease;}

nav a:hover {
  text-decoration: none;
  opacity: 0.5;

}

img { image-rendering: pixelated; }

.nes-progress {
  height: 1.5em;
}